@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #f3b0a8;
  font-family: "Roboto", sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* ----- HELPER ----- */
.cart-helper {
  position: relative;
}

.promo-color,
.del-icon:hover {
  color: #f41f1f;
}


/* ----- CONTAINER ----- */
.container {
  width: 40rem;
  padding: 1.6rem;
  background-color: #fff;
  border-radius: 1.5rem;
}

/* ----- HEADING ----- */
.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
}

.cart-num {
  position: absolute;
  background-color: #efcdc9;
  padding: 0.25rem 0.45rem;
  border-radius: 50px;
  top: -0.5rem;
  right: -0.2rem;
  color: #973030;
}

/* ----- CART-ITEMS ----- */
.cart-items {
  margin-top: 2.25rem;
}

/* ----- CART-CARD ----- */
.cart-container {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  padding: 2.25rem 4.25rem;
  /* border: 1px solid black; */
  border-radius: 0.5rem;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);

  display: flex;
  /* justify-content: space-between; */
  align-items: top;
  gap: 2.25rem;
}

.cart-container .img {
  height: 10.2rem;
  width: 10.2rem;
  overflow: hidden;
}

.cart-container .img img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.dish {
  display: flex;
  flex-direction: column;
  gap: 2.45rem;
}

.details {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.name-price {
  font-size: 1.25rem;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* ----- CART-CARD-BUTTONS ----- */
.cart-buttons {
  font-size: 1.55rem;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cart-buttons span {
  cursor: pointer;

  display: flex;
  justify-self: flex-start;
  align-self: flex-start;
}

.cart-buttons .plus {
  color: #f41f1f;
  cursor: pointer;

  display: flex;
  justify-self: center;
  align-self: center;
}

.cart-buttons button {
  padding: 0.7rem 2rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #f41f1f;
  color: #fff;
  cursor: pointer;
}

.cart-buttons button:hover {
  background-color: #921313;
}

/* ----- PROMO-CODE ----- */
.promo {
  padding: 1.25rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.05);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.promo-input input {
  font-size: 1.55rem;
  width: 31rem;
  border: none;
  outline: none;
}

::placeholder {
  color: #dadada;
}

/* ----- TOTAL-PRICE ----- */

.total {
  margin-top: 1.25rem;
  padding: 1.85rem 2.45rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.05);

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.item {
  padding-bottom: 1.25rem;
  font-size: 1.25rem;

  display: flex;
  justify-content: space-between;
}

.total-price {
  font-size: 1.25rem;
  font-weight: 700;

  display: flex;
  justify-content: space-between;
}

/* ----- TOTAL-PRICE ----- */
